html,
body {
    background: #0D111A;
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-width: 980px;
}

#homepage {
    header {
        height: 92px;
        line-height: 92px;
        padding: 0 50px;
        width: 100%;
        .logo {
            float: left;
            height: 52px;
            margin: 20px 30px 20px 0;
        }
        .name {
            color: #FFF;
            float: left;
            font-size: 1.5rem;
            height: 40px;
            line-height: 40px;
            margin: 26px 0 0 0;
            padding-left: 30px;
            border-left: 1px solid #FFF;
        }
    }
    .search-container {
        background: #121824;
        height: 58px;
        line-height: 58px;
        width: 100%;
        .date-picker {
            height: 32px;
            line-height: 32px;
            width: 116px;
            background: #0B0F18;
            color: #6F7D9A;
            float: left;
            font-size: .75rem;
            &:before {
                content: '';
                height: 18px;
                width: 18px;
                background: url('../images/calendar.png') no-repeat center;
                background-size: contain;
                display: inline-block;
                margin: 0px 8px -4px 10px;
            }
            &:first-of-type {
                margin: 13px 15px 0 50px;
            }
            &:last-of-type {
                margin: 13px 0 0 15px;
            }
        }
        .line {
            float: left;
            color: #6F7D9A;
        }
        .search-input {
            color: #6F7D9A;
            font-size: .75rem;
            height: 32px;
            line-height: 32px;
            width: 440px;
            float: left;
            background: #0B0F18;
            border: 0;
            margin: 13px 0 0 40px;
            padding: 0 12px;
            &:focus {
                outline: none;
            }
            &::-moz-placeholder {
                color: #6F7D9A;
            }
            &::-webkit-input-placeholder {
                color: #6F7D9A;
            }
            &:-ms-input-placeholder {
                color: #6F7D9A;
            }
        }
        .confirm {
            height: 32px;
            line-height: 32px;
            width: 68px;
            text-align: center;
            color: #FFF;
            font-size: .75rem;
            background: #1E53C3;
            border: 0;
            border-radius: 4px;
            margin-left: 12px;
            cursor: pointer;
        }
    }
}